# Microsoft Office вақтинчалик қулф файллари
~$*

# Python
__pycache__/
*.pyc
.venv/
venv/

# Stata (do-файл ишга туширилганда ҳосил бўладиган натижалар)
natijalar_stata/
grafiklar_stata/
*.dta
*.log
*.smcl

# ОС
Thumbs.db
.DS_Store
desktop.ini
